.home-container {
}
.w-50
{
    width: 50%;
}
.hero {
  background-color: rgb(255, 182, 47);
  height: 90vh;
  max-height: 1080px;
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;

}
.hero header {
    width: 50%;

}
.hero img{
    width:50%;
}
.tiles-3 {
    display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}
.tile img {
  width: 80%;
  border-radius: 20px;
}

.tile {
  width: 70%;

}
.pop{

}
.pop:hover{
    scale: 1.1;
}
.f-xx-lg
{
    font-size: 1.5rem;
}
.hero .flex {
   
}
.hero .flex .btn-green
{
}