
/* GRID */



.col {

	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}



/* ALL LOADERS */

.loader{
    display: flex;
    gap: 0.5rem;
    
  height: 1rem;
  width: 2.299rem;
    justify-content: center;
    align-items: center;
  border-radius: 100%;
  margin: 0 auto;
}


/* LOADER 4 */

#loader-4 span{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
   opacity: 0;
}

#loader-4 span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

