@import "https://ease-css.netlify.app/ease/css/ease.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* -----------misc-------------- */
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
.f-orange{
  color: orange;
}
.b-orange{
  background-color: orange;
}
.t-green
{
  color: rgb(0, 184, 0)
}

.t-center
{
  text-align: center;
}
.p03rem {
  padding: 0.3rem;
}
.NavLinks {
  color: black;
}
.center-banners {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.banners {
  width: 200px;
  height: 200px;
}

.pop-out {
  transition: 0.2s;
}
.pop-out:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px 5px rgb(238, 238, 238);
}

.links {
  color: black;
}
.outline-hover {
  border: 1px solid transparent;
  transition: 0.2s;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.outline-hover:hover {
  border: 1px solid grey;
}
.align-center {
  align-items: center;
}

.j-space-between {
  justify-content: space-between;
}
.j-centre {
  justify-content: center;
}
.f-grey {
  color: grey;
}
.container {
  margin-top: 20px;
}
.loader {
  align-self: center;
  justify-self: center;
}
.navbar {
  border-bottom: 1px solid rgba(216, 216, 216, 0.521);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  font-size: small;
  z-index: 100;
}
.nav-items {
}

.new-arrivals {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 10;
}

.products-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  gap: 2rem;
  justify-content: center;
}

.equal {
  margin-top: auto;
  justify-content: flex-start;
}
.card-name {
}
.flag-left {
  background-color: rgb(255, 166, 0);
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(241, 241, 241);
  position: absolute;
  top: 1rem;
  font-size: smaller;
  border-end-end-radius: 10px;

  border-start-end-radius: 10px;
  left: 0rem;
}
.product-card {
  border-radius: 10px;
  font-size: small;
  display: flex;
  flex-direction: column;
  width: 200px;
  flex-wrap: wrap;
  max-height: auto;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
}

.product-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px 5px rgb(238, 238, 238);
}
.product-card img {
  border-radius: 10px;
}

.sidebar {
  color: rgb(59, 59, 59);
  background-color: rgb(255, 174, 0);
  border-radius: 10px;

  position: fixed;
  left: 2rem;
  /* display: none; */
  width: 250px;
  min-height: 100vh;
  align-self: flex-start;
  padding: 1rem;
}

.sidebar-hide{
  display: none;
}

.strike {
  text-decoration: line-through;
}

/* --------------------Cart---------------- */

.cart {
}
.cart-card {
  font-size: small;
  width: 200px;
  height: 300px;
}
.product-cart {
  background-color: rgb(241, 254, 255);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex: 75%;
}
.cart-total {
  background-color: rgb(241, 254, 255);
  flex: 25%;
}
.cart-container {
}

/* -------------wishlist------------------ */
.wishlist-flex {
  justify-content: center;
}
.wishlist-card {
  font-size: small;
  width: 250px;
}

/* -------------------toast-------------------- */

.toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
}

.toast-green {
  background-color: chartreuse;
  color: black;
}

.hide-toast {
  display: none;
}

.signup-container,
.login-container {
  border-radius: 5px;
  justify-content: center;
  align-items: stretch;
  gap: 0.3rem;
  width: 400px;
  background-color: rgb(255, 229, 217);
  box-shadow: 0 0 10px 1px rgb(245, 245, 245);
}
.block-center {
  display: grid;
  place-items: center;
}

.gap-01 {
  gap: 0.2rem;
}

.home {
  position: relative;
}

.home-3 {
  width: 100%;
  display: flex;
}

.home-3-item {
  flex: 20%;
}

.profile {
  position: relative;
  max-width: 550px;
  min-height: 100vh;
}
.profile h1 {
  text-align: center;
}
.profile div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile div input {
  border: 1px solid rgb(212, 212, 212);
}

.m05-rem{
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.product-container{
  display: flex;
}

@media (max-width: 768px)
{
  .navbar{
    padding: 0 1rem;
  }
  .wide-navbar{
    display: none;
  }
  .sidebar{
    z-index: 1;
    /* display: none; */
    left: 0;
    top: 3rem;
    margin-top: 0;
    margin-left: 0;
  }
  .product-container{
    display: grid;
  }
  .products-section{
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    grid-row-gap: 1rem;
    row-gap: 1rem;
     flex-wrap: wrap;
  }
  .navbar{
  }
}
